    /**
    * {@link mage.cards.[=$cardOneFirstLetter=].[=$cardOneClassName=]}
    * <br>
    * [=$cardOneName=]
    * <br>
    * [=$cardOneCost=]
    * <br>
    * [=$cardOneType=]
    * <br>
    * [=$cardOneAbilities=][=$cardOnePT ? "\n    * <br>\n    * $cardOnePT" : ""=][=$cardOneLoyalty ? "\n    * <br>\n    * Starting Loyalty: $cardOneLoyalty" : ""=]
    */
    private static final String [=$cardOneClassNameLower=] = "[=$cardOneName=]";
