    /**
    * {@link mage.cards.[=$cardOneFirstLetter=].[=$cardOneClassName=]}
    * <br>
    * [=$cardOneName=]
    * <br>
    * [=$cardOneCost=]
    * <br>
    * [=$cardOneType=]
    * <br>
    * [=$cardOneAbilities=][=$cardOnePT ? "\n    * <br>\n    * $cardOnePT" : ""=][=$cardOneLoyalty ? "\n    * <br>\n    * Starting Loyalty: $cardOneLoyalty" : ""=]
    */
    private static final String [=$cardOneClassNameLower=] = "[=$cardOneName=]";
    /**
    * {@link mage.cards.[=$cardOneFirstLetter=].[=$cardOneClassName=]}
    * <br>
    * [=$cardTwoName=][=$cardTwoCost ? "\n    * <br>\n    * $cardTwoCost" : ""=]
    * <br>
    * [=$cardTwoType=]
    * <br>
    * [=$cardTwoAbilities=][=$cardTwoPT ? "\n    * <br>\n    * $cardTwoPT" : ""=][=$cardTwoLoyalty ? "\n    * <br>\n    * Starting Loyalty: $cardTwoLoyalty" : ""=]
    */
    private static final String [=$cardTwoClassNameLower=] = "[=$cardTwoName=]";